*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body
{
    width: 100%;
    height: 100%;
background: #385170; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
     background-color: white;
     height: 580px;
     width: 90vw;
     display: flex;
     justify-content: space-around;
     align-items: center;
     
}

.image 
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer{
       width: 50%;
}

.word {
   display: flex;
   align-items: center;
   gap: 20px;
}

.letters {
    list-style-type: none;
    border-bottom: 3px solid black;
    width: 50px;
    font-size: 24px;
    text-align: center;
    padding:px;
    text-transform: capitalize;
}

.hint{
    margin-top: 50px;
}

.hint p{
    font-size: 22px;
    font-weight: bold;
}

.incorrect-guess
{
    margin-top: 24px;
}

.incorrect-guess p{
    font-size: 22px;
    font-weight: bold;
}

#wrong-guess
{
    color: red;
}

 .buttons{
  margin-top: 32px;
  padding-right: 40px;
 }

 .btn{
    padding: 5px 18px;
    margin:5px 5px 5px 0;
    cursor: pointer;
    background-color: #ffb5b5;
    border-radius:5px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
 
 }

 #result-screen{
    background-color:#385170;
    position:absolute;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 60px;
    display: none;
 }


 #result-screen button{
     padding:8px 32px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #5585b5;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    color: white;

 }
 

 /* =========================
   RESPONSIVE DESIGN
   ========================= */

/* Tablets & small laptops */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .image {
    width: 100%;
    margin-bottom: 20px;
  }

  .answer {
    width: 100%;
  }

  .word {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  html, body {
    align-items: flex-start;
    padding: 10px;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  .letters {
    width: 35px;
    font-size: 20px;
  }

  .hint p,
  .incorrect-guess p {
    font-size: 16px;
  }

  .buttons {
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    padding: 6px 12px;
    font-size: 16px;
    margin: 4px;
  }

  img {
    width: 150px;
  }

  #result-screen {
    width: 90%;
    height: auto;
    padding: 20px;
    gap: 30px;
    text-align: center;
  }

  #result-screen h2 {
    font-size: 22px;
  }
}
